
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.social-buttons {
    text-align: center;
    margin-top: 20px;
}

.facebook-button, .instagram-button {
display: inline-block;
padding: 10px 20px;
background-color: #3b5998; /* Facebook blue */
color: #fff;
text-decoration: none;
border-radius: 5px;
margin-right: 10px;
}

.instagram-button {
background-color: #e4405f; /* Instagram pink */
}

#contact {
    font-style: italic;
}
