
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
a:hover {
    background-color: lightslategray;
}

header {
    background-color: #333;
    color: #fff;
    padding: 90px;
    text-align: center;
}
img {
    position: absolute;
    left: 12%; /* Adjust the left position as needed */
    top: 15%; /* Align image vertically */
    transform: translateY(-50%);
    width: 200px; /* Set width to 100px */
    height: 200px; /* Set height to 100px */
    border-radius: 50%; /* Make the image round */
}
h1 {
    margin: 0;
    font-size: 36px;
}

.header h1 {
    position: relative; /* Ensure text stays on top of the image */
    z-index: 1; /* Place text in front of the image */
}

.header img.header-image {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Align image to the top of the header */
    left: 0; /* Align image to the left of the header */
    width: 100%; /* Ensure the image fills the entire width of the header */
    height: auto; /* Maintain aspect ratio */
    z-index: 0; /* Set a lower z-index than the text */
}


nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.social-buttons {
    text-align: center;
    margin-top: 20px;
}

.facebook-button, .instagram-button {
display: inline-block;
padding: 10px 20px;
background-color: #3b5998;
color: #fff;
text-decoration: none;
border-radius: 5px;
margin-right: 10px;
}

.instagram-button {
background-color: #e4405f; 
}

#experience {
    padding: 20px;
}

.experience-container {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.experience-item {
    background-color: #fff;
    min-width: 280px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-bottom: 20px; 
    flex-basis: calc(33.333% - 20px);
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

h2 {
    color: #333;
}

html {scroll-behavior: smooth;}


